/*Nav2*/
#selecionadoFeedback{
    width:11%;
    position: absolute;
    z-index: 999;
    left:27.2%;
    top:73%;
    border: white 0.6vw solid;
    opacity: 1;
    margin: 0;
    border-radius: 5vw;
    transform: rotate(-3.99deg);
}
/*main*/
.mainFeedback{
    position:relative;
    width:100%;
    background-color: white;
    border-top-left-radius: 3vw;
    border-top-right-radius: 3vw;
}
/*título*/
#subtitulo{
    font-family: K2D;
    color:#245AE5;
    font-size: 1.5rem;
    text-align: center;
    font-weight: bolder;
}
#hrpergu{
    border:#245AE5 solid 2px;
    border-radius: 1vw;
    position: relative;
    margin: auto;
    opacity: 0.8;
}
/*perguntas*/
#sugestao{
    color:gray;
    font-size: 1.2rem;
    font-family: Inter;
}
/**/
#textoFeedback{
    min-height:25rem;
    border-radius:30px;
    border: rgb(162, 162, 162) solid 0.4vw;
    font-size:1.25rem;
    font-family:K2D;
    color: rgb(55, 55, 55);
    outline: none;
    padding-bottom: 5rem;
}
#textoFeedback::placeholder{
    font-size:1.25rem;
    font-family:K2D;
    color: rgb(177, 177, 177);
    margin: 0;
}
#mandar{
    background-image:linear-gradient(-45deg, rgb(1, 48, 139), rgb(27, 137, 217));
    border-radius: 15vw;
    border:none;
    transition: 200ms ease-in-out;
    opacity: 0.8;
    font-family: K2D;
    color:white;
    font-size:1.3rem;
}
#mandar > p{
    font-family: K2D;
    color:white;
    font-size:1.3rem;
    text-align: center;
    border-radius: 5vw;
    transition: 200ms ease-in-out;
    margin: 0;
}
#mandar:hover{
    cursor: pointer;
    opacity: 1;
}
/**/
#estrelas{
    border-top-left-radius:1.5rem;
    border-top-right-radius:1.5rem;
    background-color: rgba(36, 148, 229, 42%);
    justify-content: space-around;
    padding:1rem;
}
#estrelas > button{
    width:3rem;
    height:3rem;
    padding: 0.25rem;
    border:none;
    background: none;
    transition: 200ms;
}
#estrelas > button > img{
    width:100%;
    height:100%;
}
#estrelas > button:hover{
    cursor:pointer;
    transition: 200ms;
    transform: scale(1.05);
    opacity: 0.9;
}