#voltar{
    width:4rem;
    height:4rem;
    background-color: white;
    border-radius: 50%;
    margin: 1rem;
    position: absolute;
    transition: 400ms;
    opacity: 0.5;
    top:0;
    left:0;
    z-index: 999;
}
#voltar > img{
    width:2rem;
    margin:1rem;
}
#voltar:hover{
    opacity: 1;
}
/**/
#ca{
    min-height:100vh;
    background-color: white;
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
}
#ca > #bemvindo > h2{
    color:#0079D0;
    font-family: K2D;
    text-align: center;
    font-size: 4rem;
    font-weight: 300;
}
#ca > #bemvindo > hr{
    border:#98BFDC solid 0.2vw;
    margin: auto;
    border-radius: 1vw;
    opacity: 1;
}
#ca > #bemvindo > p{
    color:#4BA4E5;
    font-family: K2D;
    margin: auto;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 400;
    margin-top: 3vw;
}
#botao{
    width:20rem;
    background-color:#238DDA;
    border-radius: 10vw;
    display: block;
    text-decoration: none;
    transition: 200ms;
    border:none;
}
#botao > p{
    color:white;
    font-family: K2D;
    text-align: center;
    font-size: 1.75rem;
    border-radius: 3vw;
}
#botao:hover{
    transition: 200ms;
    background-color:#0079D0;
}
/*#fundo{
    width:100vw;
    height:100vh;
    background-color: rgba(0,0,0, 50%);
    position: absolute;
    top:0;
    left:0;
    display: none;
    z-index: 997;
}
#info{
    background-color: #2494E5;
    border:none;
    width:5vw;
    height:5vw;
    border-top-right-radius: 3vw;
    border-bottom-right-radius: 3vw;
    padding-right:0.5vw;
    position: absolute;
    bottom:5%;
    transition: 0.6s ease-in-out;
    opacity: 0.6;
    z-index: 999;
}
#info > img{
    width:3vw;
    height:3vw;
}
#info:hover{
    cursor: pointer;
    opacity: 1;
}
#infotexto{
    position: absolute;
    width:35vw;
    height:38vw;
    background-color: #2494E5;
    bottom:5%;
    left:-35vw;
    border-top-right-radius: 5vw;
    z-index: 999;
    transition: 0.6s ease-in-out;
}
#infotexto > h2{
    color:white;
    font-family: K2D;
    font-weight: 100;
    font-size: 2.5vw;
    width:100%;
    text-align: center;
    margin-top: 3vw;
}
#infotexto > p{
    margin:auto;
    margin-top: 1vw;
    width:26vw;
    color:white;
    text-align: justify;
    font-family: Inter;
    font-weight: 250;
    font-size: 1.5vw;
}*/
#lo{
    min-height:100vh;
    position: relative;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: center;
    background-color: #2494E5;
}
#lo > #bemvindo > h2{
    color:white;
    font-family: K2D;
    text-align: center;
    font-size: 3rem;
    font-weight: 300;
}
#lo > #bemvindo > hr{
    border:#98BFDC solid 0.2vw;
    margin: auto;
    border-radius: 1vw;
    opacity: 1;
}
#gmail{
    position: relative;
}
#senha{
    position: relative;
}
#gmail > h3{
    color:white;
    font-family: K2D;
    font-size: 1.1rem;
    margin:0;
    margin-left: 1.5rem;
    font-weight: 100;
}
#senha > h3{
    color:white;
    font-family: K2D;
    font-size: 1.1rem;
    margin:0;
    margin-top:0.5rem;
    margin-left: 1.5rem;
    font-weight: 100;
}
#entrada{
    display: flex;
}
#simbolo{
    width:15%;
    background-color: white;
    border-bottom-left-radius:5vw;
    border-top-left-radius: 5vw;
    display:flex;
}
#simbolo > img{
    width:2rem;
    margin:auto;
}
#inputgmail{
    width:85%;
    background-color: rgba(255, 255, 255, 80%);
    border:none;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
    outline: none;
    color:black;
    font-size: 1rem;
    font-family: Inter;
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;    
}
#inputsenha{
    width:85%;
    background-color: rgba(255, 255, 255, 80%);
    border:none;
    border-bottom-right-radius: 5vw;
    border-top-right-radius: 5vw;
    outline: none;
    color:black;
    font-size: 1rem;
    font-family: Inter;
    padding-left:1rem;
    padding-right:1rem;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;    
}
#esquecer{
    display:none;
    position: absolute;
    text-decoration: none;
    right:7%;
    margin-top: 0.5vw;
    transition: 200ms;
}
#esquecer > p{
    color:white;
    font-family: K2D;
    text-decoration: underline;
    font-size: 1.5vw;
    display: inline;
}
#esquecer:hover{
    opacity: 0.8;
}
#botao2{
    width:20rem;
    background-color:#2494E5;
    border-radius: 10vw;
    display: block;
    text-decoration: none;
    transition: 200ms;
    border: solid white 0.3vw;
    margin:auto;
    margin-top: 5rem;
    font-size: 1.75rem;
    font-family: K2D;
    color:white;
}
#botao2:hover{
    transition: 200ms;
    background-color:#0079D0;
}